@font-face {
    font-family: 'Ubuntu-L';
    src: url("fonts/Ubuntu-B.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #f2be3c;
}

.header {
    background-color: #000000;
}

.nav-link {
    color: #f2be3c;
    font-size: 190%;
    font-weight: lighter;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}

body {
    font-family: 'Ubuntu-L';
}

.span h1 {
    font-size: 200%;
    font-weight: lighter;
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 1em #f2be3c;
}

.col-md-12 {
    height: 30px;
}

.col-md-4 {
    height: 10px;
}

.col-md-2 {
    color: #ffffff;
}

#map {
    width: 740px;
    height: 800px;
}
